<h1>{{theMovie.title}}</h1>
<h2>{{theMovie.director}}</h2>
<h3>{{theMovie.year}}</h3>
<h4>{{theMovie.duration}}</h4>
<h5>{{theMovie.rate}}</h5>


{{#each theMovie.genre}}
  <p>{{this}}</p>
{{/each}}



